/*! formstone v1.4.13 [upload.css] 2019-03-17 | GPL-3.0 License | formstone.it */
.fs-upload{position:relative;overflow:hidden}.fs-upload,.fs-upload *,.fs-upload :after,.fs-upload :before,.fs-upload:after,.fs-upload:before{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:none;transition:none;-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}.fs-upload-input{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1px;opacity:0;pointer-events:none}.fs-upload-target{cursor:pointer}.fs-upload-disabled .fs-upload-target,.no-touch .fs-upload-disabled:hover .fs-upload-target{cursor:default;cursor:not-allowed}

/*! formstone v1.4.13 [upload.css] 2019-03-17 | GPL-3.0 License | formstone.it */
.fs-upload {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fs-upload.fs-light .fs-upload-target{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;justify-content: center;
	/*border:3px dashed #607d8b;*/
	border-radius:2px;
	color:#455a64;
	font-size:14px;
	margin:0;
	padding:25px;
	text-align:center;
	-webkit-transition:background .15s linear,border .15s linear,color .15s linear,opacity .15s linear;
	transition:background .15s linear,border .15s linear,color .15s linear,opacity .15s linear}

.fs-light.fs-upload-dropping .fs-upload-target,.fs-light.fs-upload-focus .fs-upload-target,.no-touchevents .fs-light:hover .fs-upload-target{
	background:#cfd8dc;
	border-color:#546e7a;
	color:#263238}

.fs-light.fs-upload-disabled {
	opacity:.5
}

.fs-light.fs-upload-disabled .fs-upload-target,.fs-light.fs-upload-disabled.fs-upload-dropping .fs-upload-target,.fs-light.fs-upload-disabled.fs-upload-focus .fs-upload-target,.no-touchevents .fs-light.fs-upload-disabled.fs-upload-dropping:hover .fs-upload-target,.no-touchevents .fs-light.fs-upload-disabled:hover .fs-upload-target{
	background:#fff;
	border-color:#607d8b;
	color:#455a64
}

.fs-upload-target span {
	display: inline-block;
	padding-left: 60px;
	position: relative;
	font-size: 24px;
	font-weight: bold;
	color: #424b53;
	text-transform: uppercase;
}

.fs-upload-target i {
	width: 46px;
	height: 46px;
	border: 1px solid #1bc1a2;
	display: block;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -22px;
}

.fs-upload-target i:before, .fs-upload-target i:after {
	content: '';
	height: 3px;
	width: 27px;
	background-color: #1bc1a2;
	position: absolute;
	left: 50%;
	margin-left: -13px;
	top: 50%;
	margin-top: -1px;
	border-radius: 3px;
}

.fs-upload-target i:after {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}