* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

section, main {
	float: left;
	width: 100%;
}
	
body {
	font-family: 'Noto Sans', sans-serif;
	color: #424b53;
}

input[type=text], input[type=password] {
	outline: none;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	width: 100%;
	background-color: #f5f5f7;
	border: 1px solid #ebecef;
	height: 48px;
	padding: 0 20px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

textarea {
	outline: none;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	width: 100%;
	background-color: #f5f5f7;
	border: 1px solid #ebecef;
	height: 185px;
	padding: 15px 20px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
	border-color: #0fbe9d;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbbdc0;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbbdc0;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbbdc0;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbbdc0;
}


a {
	color: #0fbe9d;
}

a:hover {
	color: #0fbe9d;
}

.wrapper {}

header {
	float: left;
	width: 100%;
}

.header-top {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	background-color: transparent;
	-webkit-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

.modal-open .header-top {
	padding-right: 17px;
}

.header-top.dark {
	background-color: rgba(0,0,0,0.8);
}

.header-in {
	padding: 0 15px;
	width: 100%;
	max-width: 1490px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top: 9px;
}

.head-nav {
	padding: 0 320px 0 250px;
	text-align: center;
}

.head-menu {
	display: inline-block;
}

.head-menu nav {}

nav > ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav > ul > li {
	float: left;
	margin: 0 38px;
	position: relative;
}

nav > ul > li > a {
	width: 100%;
	font-size: 14px;
	padding-right: 20px;
	position: relative;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 70px;
	text-align: center;
	-ms-align-items: center;
	align-items: center;
	align-content: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

nav > ul > li > a:hover {
	color: #0fbe9d;
	text-decoration: none;
}

nav > ul > li > a:before {
	content: '';
	width: 9px;
	height: 9px;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 0;
	margin-left: -4px;
	border: none;
	border-left: 1px solid #1da48e;
	border-bottom: 1px solid #1da48e;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

nav ul li ul {
	border-left: 3px solid #0fbe9d;
	list-style: none;
	padding: 15px;
	box-shadow: 0px 4px 4px 0px rgba(23, 23, 23, 0.3);
	background-color: #2c3e50;
}


@media (min-width: 1200px) {

nav ul li ul {
	top: 100%;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	max-height: 0;
	position: absolute;
	left: 50%;
	margin: -10px 0 0 -133px;
	width: 245px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

nav ul li:hover ul {
	opacity: 1;
	visibility: visible;
	max-height: 500px;
}

nav > ul > li:hover > a:before {
	margin-top: -1px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

}

nav ul li ul li {
	width: 100%;
}

nav ul li ul li a {
	font-size: 14px;
	padding: 12px 15px;
	display: block;
	cursor: pointer;
	color: #fff !important;
}

nav ul li ul li a:active {
	color: #fff;
	background-color: #294b58;
	text-decoration: none;
}

.head-right {
	position: absolute;
	height: 70px;
	right: 0;
	top: 0;
}

.modal-open .head-right {
	padding-right: 17px;
}

.head-lang {
	position: relative;
	float: left;
	width: 92px;
}

.active-lang {
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	height: 70px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.active-lang span {
	position: relative;
	display: inline-block;
	padding-right: 20px;
}

.active-lang span:before {
	content: '';
	width: 9px;
	height: 9px;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	right: 0;
	margin-left: -4px;
	border: none;
	border-left: 1px solid #1da48e;
	border-bottom: 1px solid #1da48e;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.drop-lang {
	position: absolute;
	width: 100%;
	top: 100%;
	margin-top: -10px;
	border-left: 3px solid #0fbe9d;
	box-shadow: 0px 4px 4px 0px rgba(23, 23, 23, 0.3);
	background-color: #2c3e50;
}

@media (min-width: 1200px) {

.drop-lang {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.head-lang:hover .drop-lang {
	opacity: 1;
	visibility: visible;
	max-height: 300px;
}

.head-lang:hover .active-lang span:before {
	margin-top: -1px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

}

.drop-lang ul {
	list-style: none;
	padding: 15px;
	margin: 0;
}

.drop-lang li {
	width: 100%;
}

.drop-lang li a {
	color: #fff;
	font-size: 14px;
	padding: 12px 0;
	display: block;
	cursor: pointer;
	text-align: center;
}

.drop-lang li a:active {
	color: #fff;
	background-color: #294b58;
	text-decoration: none;
}

.header-log {
	float: left;
	height: 70px;
	background-color: #2c3e50;
	padding: 0 23px;
}

.header-login {
	float: left;
}

.header-log a:before,.header-log a:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
	width: 15px;
	height: 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header-log a:hover:before {
	opacity: 0;
}

.header-log a:hover:after {
	opacity: 1;
}

.header-log a:after {
	opacity: 0;
	background-position: 0 -15px !important;
}

.header-log a {
	padding-left: 23px;
	font-size: 12px;
	height: 70px;
	text-transform: uppercase;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	position: relative;
	color: #0fbe9d;
	text-decoration: none !important;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.header-log a:hover {
	color: #fff;
}

.header-login a:before, .header-login a:after {
	background: url(images/log-in.png) 0 0 no-repeat;
}

.header-reg {
	float: left;
	margin-left: 15px;
}

.header-reg a:before, .header-reg a:after {
	background: url(images/reg.png) 0 0 no-repeat;
}

.hero {
	float: left;
	width: 100%;
	line-height: normal;
	background: url(images/slider-1.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.hero-in {
	min-height: 750px;
	width: 100%;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.hero-tit {
	float: left;
	width: 100%;
	font-size: 40px;
	color: #0fbe9d;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.hero-descr {
	padding: 0 15px;
	float: left;
	width: 100%;
	font-size: 24px;
	color: #fff;
	margin-bottom: 130px;
}

.hero-descr span {
	display: inline-block;
	max-width: 640px;
	width: 100%;
}

.hero-bt {
	float: left;
	width: 100%;
}

.hero-bt a {
	height: 58px;
	display: inline-block;
	padding: 20px 15px 20px 55px;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none !important;
	background-color: #0fbe9d;
	border-radius: 29px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.hero-bt a:hover {
	background-color: #0d9279;
}

.hero-bt a:before {
	content: '';
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -14px;
	width: 28px;
	height: 28px;
	background: url(images/bg-gal.png) 0 0 no-repeat;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.hero-bt a:hover:before {
	opacity: 0.4;
}

#our-serv {
	padding: 150px 0;
}

.section-tit {
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	position: relative;
	width: 100%;
	text-transform: uppercase;
	color: #424b53;
	margin-bottom: 40px;
	padding-left: 25px;
}

.section-tit:before {
	content: '';
	position: absolute;
	background-color: #0fbe9d;
	width: 6px;
	height: 6px;
	top: 17px;
	margin-top: -2px;
	left: 0;
}

.our-serv {}

.one-serv {}

.one-serv-in {
	padding: 15px 15px 25px;
	height: 100%;
	text-align: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	align-content: center;
	background-color: #f5f5f7;
	border-left: 3px solid #0fbe9d;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.one-serv-thumb {
	height: 88px;
	width: 100%;
	margin-bottom: 25px;
	justify-content: center;
	align-content: flex-end;
	-ms-align-items: flex-end;
	align-items: flex-end;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
}

.one-serv-thumb:before {
	content: '';
	position: absolute;
	width: 92px;
	height: 92px;
	border-radius: 50%;
	background-color: #fff;
	left: 50%;
	bottom: -7px;
	margin-left: -46px;
}

.one-serv-thumb:after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #0fbe9d;
	bottom: -18px;
	left: 50%;
	margin-left: -3px;
}

.one-serv-thumb img {
	position: relative;
	z-index: 8;
}

.one-serv-text {
	font-size: 20px;
	line-height: normal;
	color: #526170;
}

#popular {
	padding: 150px 0;
	background: #000 url(images/pop-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section-tit.white {
	color: #fff;
}

.popular {}

.popular-in {
	margin: 0 -20px;
}

.one-pop {
	outline: none !important;
	padding: 3px;
}

.one-pop-in {
	background-color: #fff;
	position: relative;
	font-size: 20px;
}

.one-pop a {
	position: absolute;
	z-index: 9;
	display: block;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.one-pop-thumb {}

.one-pop-descr {
	position: relative;
	height: 140px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	text-align: center;
	padding: 25px;
}

.one-pop-descr:before {
	content: '';
	position: absolute;
	right: 10px;
	bottom: 10px;
	background: url(images/det.png) 0 0 no-repeat;
	width: 16px;
	height: 22px;
}

.one-pop-tit {
	color: #526170;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.one-pop:hover .one-pop-tit {
	color: #0fbe9d;
}

.slick-arrow {
	cursor: pointer;
	outline: none !important;
	display: block;
	border: none;
	position: absolute;
	background-color: transparent;
	top: 50%;
	z-index: 9;
	font-size: 0;
	overflow: hidden;
	width: 46px;
	height: 46px;
	margin-top: -23px;
}

.slick-arrow:before, .slick-arrow:after {
	content: '';
	background: url(images/nav.png) 0 0 no-repeat;
	position: absolute;
	width: 46px;
	height: 46px;
	top: 50%;
	left: 50%;
	margin-left: -23px;
	margin-top: -23px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.slick-arrow:before {
	background-position: 1px 0;
}

.slick-arrow:after {
	background-position: -45px 0;
	opacity: 0;
}

.slick-arrow:hover:after {
	opacity: 1;
}

.slick-prev {
	left: -65px;
}

.slick-next {
	right: -65px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

#partner {
	padding: 150px 0;
}

.logos {}

.logos-in {
	margin: 0 -20px;
}

.one-logo {}

#why-we {
	background: url(images/why-we-bg.jpg) center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.why-we {
	width: 100%;
	min-height: 650px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
}

.wrap-why-we-slider {
	position: relative;
	float: left;
	width: 100%;
}

.why-we-in {
	float: left;
	width: 100%;
}

.one-who-we {
	min-height: 320px;
}

.one-why-we-thumb {
	float: left;
	width: 266px;
	text-align: center; 
}

.one-why-we-thumb span {
	display: inline-block;
	width: 224px;
	height: 224px;
	border: 2px solid #fff;
	overflow: hidden;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
}

.one-why-we-thumb img {}

.one-why-we-descr {
	padding-left: 400px;
}

.one-why-we-descr-in {
	background-color: rgba(255,255,255,0.8);
	padding: 35px 35px 40px 70px;
	border-left: 3px solid #0fbe9d;
}

.one-why-we-text {
	font-size: 16px;
	line-height: 24px;
	min-height: 160px;
	padding-bottom: 15px;
}

.one-why-we-auth {
	font-weight: bold;
	font-size: 16px;
	padding-left: 25px;
	position: relative;
}

.one-why-we-auth:before {
	content: '';
	position: absolute;
	background-color: #0fbe9d;
	width: 6px;
	height: 6px;
	top: 10px;
	left: 0;
}

.one-why-we-name {
	text-transform: uppercase;
	margin-bottom: 25px;
}

.one-why-we-job {
	line-height: 1.22;
}

.slick-slide {
	outline: none !important;
}

.pager-why-we {
	position: absolute;
	width: 266px;
	background-color: #fff;
	border-radius: 29px;
	height: 58px;
	top: 265px;
}

.pager-why-we ul {
	text-align: center;
	float: left;
	width: 100%;
	padding: 10px;
	list-style: none;
	margin: 0;
}

.pager-why-we ul li {
	display: inline-block;
	position: relative;
}

.pager-why-we ul li button {
	font-size: 0;
	overflow: hidden;
	width: 14px;
	height: 14px;
	background-color: #fff;
	border-radius: 4px;
	border: none;
	display: block;
	cursor: pointer;
	margin: 0 3px;
}

.pager-why-we ul li.slick-active button {
	background-color: #9fe5d8;
}

.pager-why-we ul li button:before {
	content: '';
	width: 6px;
	height: 6px;
	background-color: #0fbe9d;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -3px 0 0 -3px;
}

footer {
	float: left;
	width: 100%;
	background-color: #526170;
	color: #fff;
}

.footer-top {
	float: left;
	width: 100%;
	padding: 55px 0 45px;
}

.foot-left-part {
	border-right: 1px solid #0fbe9d;
}

.foot-logo {
	float: left;
}

.foot-slog {
	padding-left: 230px;
	font-size: 14px;
	line-height: 20px;
	padding-right: 40px;
}

.foot-slog-tit {
	color: #0fbe9d;
	text-transform: uppercase;
}

.foot-slog-text {}

.foot-adrs {
	padding: 0 0 0 65px;
}

.foot-adrs-tit {
	font-size: 15px;
	margin-bottom: 15px;
}

.foot-adrs-one {
	width: 196px;
	float: left;
}

.foot-adrs-one.adr-left {}

.foot-adrs-one.adr-right {
	float: right;
}

.foot-adrs-in {
	position: relative;
	padding-left: 30px;
	margin-bottom: 20px;
}

.foot-adrs-name {
	position: relative;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.foot-adrs-name:before {
	content: '';
	position: absolute;
	left: -30px;
	top: 50%;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.foot-adrs-in.foot-geo .foot-adrs-name:before {
	background-image: url(images/geo.png);
	width: 17px;
	height: 23px;
	margin-top: -11px;
}

.foot-adrs-in.foot-phone .foot-adrs-name:before {
	background-image: url(images/phone.png);
	width: 13px;
	height: 23px;
	margin-top: -11px;
}

.foot-adrs-in.foot-mail .foot-adrs-name:before {
	background-image: url(images/e-mail.png);
	width: 18px;
	height: 13px;
	margin-top: -6px;
}

.foot-adrs-in.foot-mail {
	margin-bottom: 55px;
}

.foot-adrs-descr {
	font-size: 15px;
}

.soc {
	text-align: center;
}

.soc ul {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none;
}

.soc ul li {
	float: left;
	margin: 0 3px;
}

.soc ul li a {
	background-color: #0fbe9d;
	cursor: pointer;
	overflow: hidden;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.soc ul li a:hover {
	background-color: #0d9279;
}

.footer-bot {
	float: left;
	width: 100%;
	background-color: #424b53;
}

.footer-bot a {
	font-size: 14px;
	text-decoration: underline;
}

.footer-bot a:hover {
	text-decoration: none;
}

.one-foot-bot {
	border-right: 1px solid #48545f;
}

.one-foot-bot:last-child {
	border: none;
}

.one-foot-bot > div {
	padding: 15px 0;
}

.copy {
	color: #717e8a;
	font-size: 14px;
}

.copy span {
	color: #fff;
}

.police {
	text-align: center;
}

.police a {}

.usl {
	text-align: right;
}

.usl a {}

.show-hide {
	float: right;
	display: none;
}

.hero-inside {
	float: left;
	width: 100%;
	padding-top: 70px;
	background-position: top center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.hero-inside.login-top {
	background-image: url(images/header-in-bg.jpg);
}

.hero-tit-page {
	float: left;
	min-height: 185px;
	padding-top: 92px;
	width: 100%;
	padding-bottom: 15px;
}

.login-top .hero-tit-page {
	background-color: rgba(44,62,80,0.9);
}

.hero-tit-page h1 {
	font-weight: bold;
	line-height: normal;
	font-size: 24px;
	position: relative;
	width: 100%;
	text-transform: uppercase;
	color: #fff;
	min-height: 73px;
	margin-bottom: 0;
	padding-left: 25px;
}

.hero-tit-page h1:before {
	content: '';
	position: absolute;
	background-color: #0fbe9d;
	width: 6px;
	height: 6px;
	top: 17px;
	margin-top: -2px;
	left: 0;
}

#login {
	padding: 180px 0;
}

.login-form {
	padding: 0 20px;
}

.one-form-inp {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.one-inp-name {
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 14px;
}

.reg {
	font-size: 16px;
	color: #0fbe9d;
}

.one-inp {}

.one-inp input {}

.info-form {
	float: left;
	width: 100%;
	padding-top: 15px;
}

.info-form-link {
	float: left;
}

.info-form-link a {
	display: block;
	cursor: pointer;
	margin-bottom: 10px;
}

.info-form-bt {
	float: right;
	margin-bottom: 15px;
}

.info-form-bt button {
	width: 200px;
}

.def-bt {
	cursor: pointer;
	outline: none !important;
	text-align: center;
	border: none;
	height: 58px;
	display: inline-block;
	padding: 20px 15px 20px 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none !important;
	background-color: #0fbe9d;
	border-radius: 29px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.def-bt:hover {
	background-color: #0d9279;
}

.has-broad .hero-tit-page {
	margin-top: -50px;
}

.broad {
	float: left;
	width: 100%;
	background-color: rgba(15,190,157,0.3);
	height: 50px;
}

.broad ul {
	float: left;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 14px 0 0;
}

.broad ul li {
	text-transform: uppercase;
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	margin-right: 12px;
}

.broad ul li a {
	padding-right: 15px;
	display: block;
	cursor: pointer;
	position: relative;
}

.broad ul li a:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -2px;
	width: 4px;
	height: 4px;
	background-color: #fff;
}

.broad ul li span {}

#page {
	padding: 80px 0;
}

.news {
	float: left;
	width: 100%;
}

.one-news {
	padding-top: 30px;
	float: left;
	width: 100%;
	border-left: 3px solid #0fbe9d;
	background: #f5f5f7;
	margin-bottom: 35px;
}

.one-news-date {
	float: left;
	margin-left: 40px;
	width: 60px;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
}

.one-news-date span {
	display: block;
	color: #0fbe9d;
}

.one-news-descr {
	padding-left: 160px;
	padding-right: 100px;
}

.one-news-tit {
	float: left;
	line-height: 1.3;
	text-transform: uppercase;
	width: 100%;
	position: relative;
	padding-bottom: 25px;
	border-bottom: 1px solid #0fbe9d;
	margin-bottom: 18px;
}


.one-news-tit:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: -25px;
	top: 7px;
	background-color: #0fbe9d;
}

.one-news-tit a {
	font-size: 16px;
	font-weight: bold;
	color: #424b53;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.one-news-tit a:hover {
	color: #0fbe9d;
}

.one-news-text {
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
}

.one-news-text p {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.news-det {
	display: block;
	cursor: pointer;
	background-color: #ebecef;
	float: left;
	width: 100%;
	height: 50px;
	position: relative;
}

.news-det:after {
	content: '';
	position: absolute;
	right: 30px;
	width: 16px;
	height: 100%;
	background: url(images/det.png) 0 center no-repeat;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.news-det:hover:after {
	right: 20px;
}

.pagi {
	float: left;
	width: 100%;
	text-align: center;
}

.pagi ul {
	min-width: 266px;
	height: 58px;
	background-color: #f5f5f7;
	border-radius: 29px;
	list-style: none;
	padding: 5px 30px 0;
	margin: 0;
	display: inline-block;
}

.pagi ul li {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-weight: bold;
} 

.pagi ul li a, .pagi ul li span {
	color: #526170;
	display: block;
	padding: 5px 5px 20px;
	position: relative;
	text-decoration: none !important;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.pagi ul li a:hover {
	color: #0fbe9d;
}

.pagi ul li.active span:before {
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -7px;
	bottom: 0;
	width: 14px;
	height: 14px;
	border-radius: 4px;
	background-color: #99dfd3;
}

.pagi ul li a:after, .pagi ul li span:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 4px;
	margin-left: -3px;
	width: 6px;
	height: 6px;
	background-color: #0fbe9d;
}

.pagi ul li.active span {
	color: #0fbe9d;
}

.news-single {
	font-size: 16px;
	line-height: 24px;
}

.news-sing-date {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 22px;
	border-left: 3px solid #0fbe9d;
	line-height: 24px;
}

.news-sing-date span {
	color: #0fbe9d;
	display: block;
}

.news-single p {
	margin-bottom: 20px;
}

.news-single img {
	margin-bottom: 20px;
}

.bt-back {
	float: left;
	width: 100%;
	text-align: center;
}

.bt-back a {
	padding-left: 38px;
	padding-right: 38px;
}

.grey-bt {
	cursor: pointer;
	outline: none !important;
	text-align: center;
	border: none;
	height: 58px;
	display: inline-block;
	padding: 20px 15px 20px 15px;
	text-transform: uppercase;
	color: #0fbe9d;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none !important;
	background-color: #f5f5f7;
	border-radius: 29px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.grey-bt:hover {
	background-color: #0fbe9d;
	color: #fff;
}

.modal.full .modal-dialog {
	max-width: 100%;
	width: 100%;
	margin: 0;
}

.modal.full {
	padding-right: 0 !important;
}

.modal.full .modal-content {
	border-radius: 0;
}

.close-modal {
	cursor: pointer;
	outline: none !important;
	position: absolute;
	z-index: 9;
	right: 40px;
	top: 40px;
	border-radius: 50%;
	border: 1px solid #10b799;
	width: 45px;
	height: 45px;
	background: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.close-modal {
	border-color: #0d9279;
}

.close-modal:before, .close-modal:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -13px;
	border-radius: 5px;
	height: 3px;
	width: 26px;
	background-color: #0fbe9d;
	margin-top: -1px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


.close-modal:hover:before, .close-modal:hover:after {
	background-color: #0d9279;
}

.close-modal:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.modal-cont {
	display: inline-block;
	width: 100%;
	background-color: #fff;
}

.modal-cont-wrap {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	min-height: 600px;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	align-content: center;
	padding: 30px;
}

.modal-cont-descr {
	display: inline-block;
	position: relative;
	font-size: 24px;
	text-transform: uppercase;
	line-height: normal; 
}

.modal-cont-descr:before {
	content: '';
	position: absolute;
	background-color: #0fbe9d;
	width: 6px;
	height: 6px;
	top: 17px;
	margin-top: -2px;
	left: -20px;
}

.modal-backdrop {
	background-color: #2c3e50;
	opacity: 0.9;
}

.modal-backdrop.show {
	opacity: 0.9;
}

.partners {
	width: 100%;
}

.partners-in {}

.one-partner {}

.one-partner-in {
	font-size: 16px;
	line-height: 24px;
	border-left: 3px solid #0fbe9d;
	background-color: #f5f5f7;
	padding: 35px 45px;
}

.one-partner-tit {
	font-size: 16px;
	font-weight: bold;
	padding-left: 25px;
	position: relative;
	margin-bottom: 35px;
}

.one-partner-tit:before {
	content: '';
	position: absolute;
	background-color: #0fbe9d;
	width: 6px;
	height: 6px;
	top: 10px;
	left: 0px;
}

.one-partner-descr {}

.one-partner-descr p {}

.pager-partner {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

.pager-partner ul {
	display: inline-block;
	min-width: 266px;
	background-color: #f5f5f7;
	border-radius: 29px;
	height: 58px;
	text-align: center;
	padding: 12px 15px;
	list-style: none;
	margin: 0;
}

.pager-partner ul li {
	display: inline-block;
	position: relative;
}

.pager-partner ul li button {
	font-size: 0;
	overflow: hidden;
	width: 14px;
	height: 14px;
	background-color: transparent;
	border-radius: 4px;
	border: none;
	display: block;
	cursor: pointer;
	margin: 0 3px;
}

.pager-partner ul li.slick-active button {
	background-color: #9fe5d8;
}

.pager-partner ul li button:before {
	content: '';
	width: 6px;
	height: 6px;
	background-color: #0fbe9d;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -3px 0 0 -3px;
}

.platform {
	float: left;
	width: 100%;
}

.one-plat {
	float: left;
	width: 100%;
	padding: 30px 60px 30px 0;
    border-left: 3px solid #0fbe9d;
    background: #f5f5f7;
    margin-bottom: 50px;
}

.one-plat-thumb {
	float: left;
	width: 365px;
	text-align: center;
}

.one-plat-thumb-in {
	display: inline-block;
	height: 94px;
	width: 94px;
	position: relative;
	margin-bottom: 15px;
}

.one-plat-thumb-in:before {
	content: '';
	position: absolute;
	width: 94px;
	height: 94px;
	background-color: #fff;
	border-radius: 50%;
	left: 50%;
	margin-left: -47px;
	bottom: 0;
}

.one-plat-thumb-in:after {
	content: '';
	width: 6px;
	height: 6px;
	background-color: #0fbe9d;
	position: absolute;
	left: 50%;
	bottom: -15px;
	margin: -3px 0 0 -3px;
}

.one-plat-thumb-in img {
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	-o-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	z-index: 8;
}

.one-plat-tit {
	font-size: 20px;
	line-height: normal;
	float: left;
	width: 100%;
	text-align: center;
}

.one-plat-descr {
	padding-left: 365px;
}

.team {
	float: left;
	width: 100%;
}

.one-team {
	margin-bottom: 35px;
	font-size: 16px;
    line-height: 24px;
    border-left: 3px solid #0fbe9d;
    background-color: #f5f5f7;
    padding: 35px 45px 30px 0;
}

.one-team-thumb {
	float: left;
	width: 300px;
	text-align: center;
}

.one-team-thumb-in {
	display: inline-block;
	margin-bottom: 25px;
}

.one-team-thumb-in span {
	display: inline-block;
    width: 224px;
    height: 224px;
    border: 4px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.one-team-soc {
	float: left;
	width: 100%;
}

.one-team-soc ul {
	display: inline-block;
	list-style: none;
	padding: 0;
	margin: 0;
}

.one-team-soc li {
	float: left;
	margin: 0 6px;
}

.one-team-soc li a {
	background-color: #0fbe9d;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-content: center;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.one-team-soc li a:hover {
	background-color: #0d9279;
}

.one-team-descr {
	padding-left: 330px;
}

.one-team-name {
	font-size: 16px;
	font-weight: bold;
	float: left;
	line-height: 1.3;
	text-transform: uppercase;
	width: 100%;
	position: relative;
	margin-bottom: 15px;
}

.one-team-name:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: -25px;
	top: 7px;
	background-color: #0fbe9d;
}

.one-team-work {
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 100%;
	margin-bottom: 35px;
}

.one-team-text {
	font-size: 16px;
	line-height: 24px;
}

.one-team-text p {
	margin-bottom: 20px;
}

.sidebar {
	float: left;
	width: 270px;
}

.filter {
	float: left;
	width: 100%;
}

.filter-tit {
	text-align: center;
	float: left;
	width: 100%;
	padding: 15px 15px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0fbe9d;
	background-color: #ebecef;
}

.filter-descr {}

.filter-descr-in {
	float: left;
	width: 100%;
}

.one-group-filter {
	padding: 18px 20px;
	background-color: #f5f5f7;
	margin-bottom: 20px;
}

.one-group-filter:last-child {
	margin-bottom: 0;
}

.one-filter-check {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;
}

.one-filter-check label {
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	padding: 0 0 0 27px;
	margin: 0;
	font-size: 14px;
	line-height: 1.5;
}

.one-filter-check label:hover {
	text-decoration: underline;
}

.one-filter-check input {
	position: absolute;
	left: -999px;
}

.one-filter-check i {
	display: block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	top: 2px;
	border: 1px solid #424b53;
	background-color: #fff;
}

.one-filter-check input:checked + i {
	border-color: #0fbe9d;
}

.one-filter-check input:checked + i:before {
	content: '';
	width: 9px;
	height: 6px;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 50%;
	margin-left: -5px;
	border: none;
	border-left: 2px solid #0fbe9d;
	border-bottom: 2px solid #0fbe9d;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.one-filter-check input:checked + i + span {
	color: #0fbe9d;
}

.one-filter-check span {
	display: block;
}

.container-right {
	padding-left: 300px;
}

.video-post {
	margin: 0 -15px;
	font-size: 0;
}

.one-video-post {
	width: 33.33%;
	padding: 0 15px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
}

.one-video-post-thumb {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
}

.one-video-post-thumb img {
	vertical-align: top;
	width: 100%;
}

.one-video-post-thumb a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: block;
	cursor: pointer;
}

.one-video-post-thumb .play-ico {
	content: '';
	position: absolute;
	background: url(images/video.png) 0 0 no-repeat;
	width: 65px;
	height: 65px;
	top: 50%;
	left: 50%;
	margin: -32px 0 0 -32px;
	z-index: 9;
}

.one-video-post-date {
	position: absolute;
	min-width: 44px;
	text-align: center;
	background-color: #000;
	z-index: 7;
	padding: 0 5px;
	color: #fff;
	font-size: 12px;
	right: 8px;
	bottom: 9px;
}

.one-video-post-descr {
	float: left;
	width: 100%;
	padding: 15px 20px;
}

.one-video-post-tit {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	line-height: normal;
	margin-bottom: 15px;
}

.one-video-post-tit:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: -20px;
	top: 9px;
	background-color: #0fbe9d;
}

.one-video-post-tit a {
	text-transform: uppercase;
	color: #424b53;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.one-video-post-tit a:hover {
	text-decoration: none;
	color: #0fbe9d;
}

.one-video-post-autor {
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 10px;
}

.one-video-post-text {
	font-size: 16px;
	line-height: 24px;
}

.video-post .pagi {
	padding-top: 20px;
}

.side-user-info {
	position: relative;
}

.user-avat {
	float: left;
	width: 100%;
	background-color: #f5f5f7;
	border-left: 3px solid #0fbe9d;
	text-align: center;
	padding: 38px 0 25px;
	margin-bottom: 25px;
}

.user-avat span {
	display: inline-block;
    width: 224px;
    height: 224px;
    border: 4px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.user-avat img {}

.user-acc-menu {}

.user-acc-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.user-acc-menu ul li {
	float: left;
	width: 100%;
	margin-bottom: 1px;
}

.user-acc-menu ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #424b53;
	background-color: #ebecef;
	text-transform: uppercase;
	text-decoration: none !important;
	padding: 15px;
	display: block;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.user-acc-menu ul li a:hover {
	color: #0fbe9d;
}

.account-form {
	float: left;
	width: 100%;
	margin-top: -20px;
}

.account-form-inp {
	float: left;
	width: 100%;
	margin-bottom: -5px;
}

.account-form-inp-tit {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 84px;
	float: left;
	width: 200px;
}

.account-form-tit {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
}

.account-form-tit:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: 0px;
	top: 9px;
	background-color: #0fbe9d;
}

.account-form-inp-tit span {}

.account-form-input-wrap {
	padding-left: 200px;
}

.account-form-input {
	padding: 18px 60px 18px 15px;
	position: relative;
}

.account-form-input.edit {
	background-color: #f5f5f7;
}

.account-form-inp-left {}

.account-form-inp-left input {
	-webkit-transition: box-shadow 0.5s;
	-o-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
}

.account-form-input.edit .account-form-inp-left input {
  background-color: #fff;
}

.account-form-input.edit .account-form-inp-left input:focus {
  box-shadow: 0px 2px 7px 0px rgba(23, 23, 23, 0.3);
  border: 1px solid #0fbe9d;
}

.account-form-input.edit .account-form-inp-left input.ok {
	background-image: url(images/ok.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
}

.account-form-inp-edit {
	position: absolute;
	right: 0;
	top: 0;
	width: 56px;
	height: 100%;
}

.account-form-inp-edit a {
	display: block;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.account-form-inp-edit a:before, .account-form-inp-edit a:after {
	content: '';
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -13px;
	border-radius: 5px;
	height: 3px;
	width: 26px;
	background-color: #0fbe9d;
	margin-top: -1px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.account-form-input.edit .account-form-inp-edit a:before, .account-form-input.edit .account-form-inp-edit a:after {
	opacity: 1;
}

.account-form-inp-edit a:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.account-form-inp-edit a:hover:before, .account-form-inp-edit a:hover:after {
	background-color: #0d9279;
}

.account-form-inp-edit a span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(images/inp-edit.png) center center no-repeat;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.account-form-input.edit .account-form-inp-edit a span {
	opacity: 0;
}

.other-inp-info {
	float: left;
	width: 100%;
	margin: 15px 0;
	border-left: 3px solid #0fbe9d;
	background-color: #ebecef;
	position: relative;
}

.other-inp-thumb {
	position: absolute;
	left: 25px;
	top: 0;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
}

.other-inp-thumb span {
	width: 92px;
	height: 92px;
	background-color: #fff;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.other-inp-thumb span img {
	vertical-align: top;
}

.other-inp-tit {
	min-height: 112px;
	color: #526170;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	float: left;
	width: 100%;
	font-size: 20px;
	padding: 15px 135px;
}

.other-inp-tit span {}


.user-tablet-info {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

.user-tablet-name {
	display: inline-block;
	position: relative;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.user-tablet-name:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: -20px;
	top: 9px;
	background-color: #0fbe9d;
}

.lk-def-form > .other-inp-info {
	margin-top: 0;
	margin-bottom: 30px;
}

.header-subs {
	float: left;
	width: 100%;
	background-color: #f5f5f7;
	border-left: 3px solid #0fbe9d;
	padding: 15px 20px 20px;
}

.header-subs-tit {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.header-subs-bt {}

.header-subs-bt a {
	padding-left: 25px;
	padding-right: 25px;
}

.white-bt {
	cursor: pointer;
	outline: none !important;
	text-align: center;
	border: none;
	height: 50px;
	display: inline-block;
	padding: 15px 15px 15px 15px;
	text-transform: uppercase;
	color: #0fbe9d;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none !important;
	background-color: #ffffff;
	border-radius: 29px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.white-bt:hover {
	background-color: #0fbe9d;
	color: #fff;
}

.edit-prof {
	position: absolute;
	right: 10px;
	top: 12px;
}

.search-top {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.search-top input {
	background-image: url(images/search.png);
	background-position: right 15px center;
	background-repeat: no-repeat;
	padding-right: 50px;
}

.video-cont {}

.video-cont h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.big-video .one-video-post-thumb .play-ico {
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.big-video .one-video-post-date {
	right: 15px;
	bottom: 15px;
}

.big-video {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.descr-big-video {
	float: left;
	width: 100%;
	padding-left: 20px;
	margin-bottom: 60px;
}

.descr-video-tit {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 35px;
	position: relative;
}

.descr-video-tit:before {
	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    left: -20px;
    top: 9px;
    background-color: #0fbe9d;
}

.descr-video-auth {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
}

.descr-video-text {
	font-size: 16px;
	line-height: 24px;
}

.descr-video-text p {
	margin-bottom: 20px;
}

.video-cont .video-post {
	width: 100%;
	float: left;
}

.video-post-slider .one-video-post {}

.video-post-slider .slick-arrow {
	left: 50%;
	right: auto;
	bottom: -20px;
	margin-left: -23px;
	top: auto;
}

.video-post-slider .slick-arrow.slick-prev {
	margin-left: -58px;
}

.video-post-slider .slick-arrow.slick-next {
	margin-left: 12px;
}

.message {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
}

.message p {
	margin-bottom: 20px;
}

.mess-auth {
	font-size: 14px;
}

.mess-menu {}

.mess-menu li a {
	position: relative;
	padding-left: 42px !important;
}

.mess-menu i {
	position: absolute;
	left: 0;
	width: 42px;
	top: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.mess-menu .mi-1 {
	background-image: url(images/mess-1.png);
}

.mess-menu .mi-2 {
	background-image: url(images/mess-2.png);}

.mess-menu .mi-3 {
	background-image: url(images/mess-3.png);}

.mess-menu .mi-4 {
	background-image: url(images/mess-4.png);}

.add-mess {}

.add-mess a {
	width: 100%;
	margin-bottom: 25px;
}

.add-message {}

.add-message-tit {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}

.add-message-form {
	float: left;
	width: 100%;
}

.add-message-inp {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.add-message-inp-name {
	height: 48px;
	font-size: 14px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	float: left;
	width: 155px;
}

.add-message-input {
	padding-left: 155px;
}

.add-message-input input, .add-message-input textarea {
	background-color: #fff;
}

.form-bt {
	float: left;
	width: 100%;
	text-align: right;
}

.send-mess {
	display: inline-block;
}

.send-mess button {
	width: 170px;
}

.steps {
	float: left;
	width: 100%;
}

.one-step {
	float: left;
	width: 100%;
}

.one-step-tit {
	float: left;
	width: 100%;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
	position: relative;
	margin-bottom: 15px;
}

.one-step-tit:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: 0px;
	top: 9px;
	background-color: #0fbe9d;
}

.one-form-inp {}

.next-step, .prev-step {
	min-width: 200px;
}

.one-form-inp.warning input, .one-form-inp.warning .jq-selectbox__select {
	border-color: #dc3545;
}

.info-form-bt.prev {
	float: left;
}

.border-bt {
	cursor: pointer;
	outline: none !important;
	text-align: center;
	border: none;
	height: 58px;
	display: inline-block;
	padding: 20px 15px 20px 15px;
	text-transform: uppercase;
	color: #0fbe9d;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none !important;
	border: 1px solid #0fbe9d;
	background-color: #fff;
	border-radius: 29px;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.border-bt:hover {
	background-color: #0fbe9d;
	color: #fff;
}

#register {
	padding: 60px 0;
}

.reg-tit {
	float: left;
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.one-form-inp.half {
	width: 48.5%;
}

.right {
	float: right;
}

.register-check {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.page-stat {
	float: left;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
}

.page-stat-tit {
	float: left;
	width: 100%;
	position: relative;
	padding-left: 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px;
}

.page-stat-tit:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: 0px;
	top: 9px;
	background-color: #0fbe9d;
}

.page-stat p {
	margin-bottom: 20px;
}

.page-stat > img {
	margin-top: 15px;
	margin-bottom: 35px;
}

.about-serv {}

.about-serv-in {}

.one-about-serv {
	padding: 30px 60px 30px 0;
    float: left;
    width: 100%;
    border-left: 3px solid #0fbe9d;
    background: #f5f5f7;
    margin-bottom: 35px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    align-content: center;
}

.one-about-serv-thumb {
	width: 380px;
	flex: 0 0 380px;
	float: left;
	text-align: center;
	position: relative;
}

.one-about-serv-thumb span {
	position: relative;
	display: block;
}

.one-about-serv-thumb span:before {
	content: '';
    position: absolute;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: #fff;
    left: 50%;
    bottom: -7px;
    margin-left: -46px;
}

.one-about-serv-thumb span:after {
	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0fbe9d;
    bottom: -18px;
    left: 50%;
    margin-left: -3px;
}

.one-about-serv-thumb img {
	position: relative;
	z-index: 9;
}

.one-about-serv-text {
	font-size: 20px;
	display: block;
	padding-top: 30px;
}

.one-about-serv-descr {
	/*padding-left: 390px;*/
	width: 100%;
}

.one-about-serv-descr ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.one-about-serv-descr li {
	margin-bottom: 25px;
	padding-left: 10px;
	position: relative;
	font-size: 16px;
}

.one-about-serv-descr li:last-child {
	margin-bottom: 0;
}

.one-about-serv-descr li:before {
	content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #0fbe9d;
    left: 0px;
    top: 10px;
}

.alright {
	float: right;
	padding-left: 30px;
	margin-top: 5px !important;
}

.container-full {
	float: left;
	width: 100%;
}

.other-videos {
	margin-bottom: 30px;
	float: left;
	width: 100%;
}

.video-rev {
	margin: 0;
}

.video-rev .video-post {
	width: auto;
	float: none;
}

.video-rev .video-post .one-video-post {
	width: 25%;
}

.comm-page {
	float: left;
	width: 100%;
}

.one-comm {
	float: left;
	width: 100%;
	margin-bottom: 35px;
	font-size: 16px;
    line-height: 24px;
    border-left: 3px solid #0fbe9d;
    background-color: #f5f5f7;
    padding: 30px 30px 15px 65px;
}

.one-comm-info {
	width: 300px;
	float: left;
	font-weight: bold;
	font-size: 16px;
}

.one-comm-info span {
	position: relative;
	display: block;
	text-transform: uppercase;
	margin-bottom: 15px;
}


.one-comm-info span:before {
	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0fbe9d;
    top: 9px;
    left: -20px;
}

.one-comm-descr {
	padding-left: 300px;
}

.leave-comm {
	float: left;
	width: 100%;
	margin-bottom: 40px;
}

.leave-comm-tit {
	font-size: 14px;
	padding: 0 20px;
	margin-bottom: 10px;
}

.leave-comm-area {
	margin-bottom: 22px;
}

.leave-comm-area textarea {
	height: 76px;
}

.leave-comm-bt {
	text-align: right;
}

.leave-comm-bt button {
	width: 215px;
}

.cont-page {
	float: left;
	width: 100%;
}

.cont-left {
	float: left;
	width: 570px;
}

.cont-tit {
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	position: relative;
	padding-left: 20px;
	margin-bottom: 40px;
}

.cont-tit:before {
	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0fbe9d;
    top: 9px;
    left: 0px;
}

.cont-descr {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}

.cont-form {}

.cont-form .login-form {
	padding: 0;
}

.captcha {
	float: left;
	margin-top: -13px;
}

.cont-right {
	width: 440px;
	float: right;
}

.cont-right .foot-adrs-name {
	font-weight: bold;
}

.cont-right .foot-adrs-in {
	margin-bottom: 30px;
}

.cont-stat-soc {
	padding-left: 20px;
}

.cont-stat-soc .soc {
	text-align: left;
}

.map-link {
	float: left;
	width: 100%;
	margin-top: 50px;
}

.map-link a {
	display: block;
	background: url(images/search-link-map.png) left center no-repeat;
	cursor: pointer;
	font-size: 14px;
	text-decoration: underline;
	color: #0fbe9d;
	padding: 5px 0 5px 38px;
}

.map-link a:hover {
	text-decoration: none;
}

.map-wrap {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.map {
	width: 100%;
	height: 565px;
}

.map-text {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	font-size: 16px;
}

.faq {}

.faq-in {}

.one-faq {
	padding: 0;
    float: left;
    width: 100%;
    border-left: 3px solid #0fbe9d;
    background: #f5f5f7;
    margin-bottom: 35px;
}

.one-faq-tit {
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	height: 90px;
	padding: 0 65px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.one-faq-tit:hover, .open .one-faq-tit {
	color: #0fbe9d;
}

.one-faq-tit span {
	position: relative;
	display: block;
}

.one-faq-tit span:before {
	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0fbe9d;
    top: 9px;
    left: -25px;
}

.one-faq-descr {
	display: none;
	background-color: #ebecef;
	padding: 25px 65px;
	font-size: 16px;
	line-height: 24px;
}

.calendar {
	float: left;
	width: 100%;
}

.callendar-top {
	float: left;
	width: 100%;
	height: 54px;
	background-color: #2c3e50;
	position: relative;
}

a.link-call {
	cursor: pointer;
	outline: none !important;
	display: block;
	border: none;
	position: absolute;
	background-color: transparent;
	top: 50%;
	z-index: 9;
	font-size: 0;
	overflow: hidden;
	width: 46px;
	height: 46px;
	margin-top: -23px;
}

a.link-call:before, a.link-call:after {
	content: '';
	background: url(images/nav.png) 0 0 no-repeat;
	position: absolute;
	width: 46px;
	height: 46px;
	top: 50%;
	left: 50%;
	margin-left: -23px;
	margin-top: -23px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

a.link-call:before {
	background-position: 1px 0;
}

a.link-call:after {
	background-position: -45px 0;
	opacity: 0;
}

a.link-call:hover:after {
	opacity: 1;
}

.link-call.l-prev {
	left: 5px;
}

.link-call.l-next {
	right: 5px;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.call-tit {
	font-size: 16px;
	font-weight: bold;
	padding: 15px 60px;
	text-align: center;
	color: #0fbe9d;
	text-transform: uppercase;
}

.call-inside {
	float: left;
	width: 100%;
}

.one-call-day {
	float: left;
	width: 14.285%;
	border-right: 1px solid #fff;
}

.one-call-day-name {
	height: 46px;
	font-weight: bold;
	font-size: 12px;
	background-color: #f5f5f7;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-transform: uppercase;
}

.one-call-day-date {
	height: 46px;
	font-weight: bold;
	font-size: 16px;
	color: #0fbe9d;
	background-color: #ebecef;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.one-call-day-event {
	word-break: break-all;
	min-height: 46px;
	padding: 10px;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	background-color: #0fbe9d;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.one-call-day-event span {
	color: #424b53;
	font-weight: bold;
	display: block;
	width: 100%;
}

.one-group-tit {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.teachers {
	float: left;
	width: 100%;
}

.teachers-nav {
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

.teachers-nav ul {
	width: 100%;
	display: block;
	list-style: none;
	float: left;
	padding: 0;
	margin: 0;
	background-color: #ebecef;
	border-radius: 28px;
}

.teachers-nav li {
	float: left;
	width: 33.33%;
}

.teachers-nav a {
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	height: 58px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	border-radius: 28px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0fbe9d;
	font-size: 14px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.teachers-nav a.active {
	background-color: #0fbe9d;
	color: #fff !important;
}

.teachers-nav a:hover {
	color: #0baf90;
}

.teachers-list {
	margin: 0 -15px; 
}

.one-teacher {
	float: left;
	width: 50%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.one-teacher-in {
	float: left;
	width: 100%;
	padding: 15px;
	border-left: 3px solid #0fbe9d;
	background: #f5f5f7;
}

.one-teacher-thumb {
	float: left;
	width: 170px;
}

.one-teacher-thumb span {
	display: inline-block;
	width: 116px;
	height: 116px;
	border: 2px solid #fff;
	overflow: hidden;
	border-radius: 50%;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.one-teacher-descr {
	padding-left: 170px;
}

.one-teacher-tit {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 10px;
}

.one-teacher-tit:before {
	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0fbe9d;
    top: 9px;
    left: -25px;
}

.one-teacher-work {
	font-size: 16px;
	font-weight: bold;
}

.one-teacher-btns {
	float: left;
	width: 100%;
	padding: 0px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.one-teacher-btns a {
	padding: 15px 10px;
}

.see-more {
	float: left;
	width: 100%;
	text-align: center;
}

.see-more a {
	padding-left: 30px;
	padding-right: 30px;
	min-width: 270px;
}

.video-cont .one-news .one-news-descr {
	padding: 0 40px 0 60px;

}

.one-page-teacher {
	float: left;
    width: 100%;
    padding: 35px;
    border-left: 3px solid #0fbe9d;
    background: #f5f5f7;
}

.one-page-teacher-thumb {
	float: left;
	width: 320px;
}

.one-page-teacher-thumb span {
	display: inline-block;
    width: 268px;
    height: 268px;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.one-page-teacher-bt {}

.one-page-teacher-bt a {}

.one-page-teacher-deascr {
	padding-left: 320px;
}

.one-page-teacher-tit {
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px solid #0fbe9d;
	margin-bottom: 15px;
}

.one-page-teacher-tit span {
	text-transform: uppercase;
	display: block;
	margin-bottom: 12px;
}

.one-page-teacher-cont {}

.one-page-teacher-cont ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.one-page-teacher-cont li {
	font-size: 16px;
	margin-bottom: 10px;
}

.one-page-teacher-bt a {
	width: 268px;
}

.write-user {
	position: relative;
	font-size: 16px;
	font-weight: bold;
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.write-user:before {

	content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0fbe9d;
    top: 9px;
    left: -25px;
}

#modalWrite .info-form-bt button {
	margin-left: 18px;
	margin-bottom: 15px;
}

.serv-subs {
	float: left;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.one-serv-subs {
	float: left;
	width: 50%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.one-subs-desr {
	padding-top: 15px;
	font-size: 16px;
	line-height: 24px;
}

.sidebar.right {
	float: right;
}

.trans-single-nav {
	float: left;
	width: 100%;
	padding-right: 300px;
	text-align: center;
}

.trans-single-nav .teachers-nav {
	width: 565px;
	display: inline-block;
	float: none;
}

.trans-single-nav .teachers-nav li {
	width: 50%;
}


.container-right.left {
	padding-left: 0;
	float: left;
	width: 810px;
}

.detal-info {
	float: left;
	width: 100%;
}

.one-detal {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.tit-detal {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}

.descr-detal {
	font-size: 16px;
	line-height: 24px;
}

.one-detal ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.one-detal ul li {
	position: relative;
	padding-left: 15px;
}

.one-detal ul li:before {
	content: '';
	position: absolute;
	top: 11px;
	left: 0;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #000;
}

.list-det-teacher {
	float: left;
	width: 100%;
}

.one-det-teacher {
	float: left;
	width: 100%;
    border-left: 3px solid #0fbe9d;
    background: #f5f5f7;
    margin-bottom: 30px;
}

.one-det-teacher-top {
	background-color: #ebecef;
	padding: 10px 15px;
	font-size: 14px;
	color: #0fbe9d;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.one-det-teacher-in {
	float: left;
	width: 100%;
	padding: 18px;
	background-color: #f5f5f7;
}

.one-det-teacher-thumb {
	float: left;
	width: 100%;
	text-align: center;
}

.one-det-teacher-thumb span {
    display: inline-block;
    width: 224px;
    height: 224px;
    border: 4px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    background-size: contain;
}

.one-det-teacher-name {
	font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.one-det-teacher-name span {
	display: inline-block;
	position: relative;
    text-transform: uppercase;
    text-align: left;
    width: auto;
}

.one-det-teacher-name span:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #0fbe9d;
	top: 9px;
	left: -25px;
}

.one-det-teacher-bt {
	float: left;
	width: 100%;
}

.one-det-teacher-bt a {
	text-align: center;
	justify-content: center;
	float: left;
	width: 49%;
	padding: 0 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
}

.one-det-teacher-bt a:last-child {
	float: right;
}

	
	/*

	author: dmon full-width

	color-text-dark 526170
	color-text-green 0fbe9d

  квадрат
  {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	top: 50%;
	margin-top: -4px;
	left: 50%;
	margin-left: -4px;
	border: none;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
	*/


@media (max-width: 1400px) {

nav > ul > li {
	margin: 0 15px;
}

}

/* author dmondma 1400px */


@media (max-width: 1300px) {


.popular-in {
	padding-bottom: 40px;
}

.slick-arrow {
	top: 100%;
}

.slick-next {
	right: 0;
}

.slick-prev {
	left: 0;
}

.one-pop-in {
	font-size: 16px;
}

.logos-in {
	padding-bottom: 40px;
}

.partners .slick-arrow {
	margin-top: 45px;
}

}

/* author dmondma 1300px */


@media (max-width: 1200px) {

.header-in {
	padding: 0 20px;
}

.show-hide {
	display: block;
	width: 59px;
	height: 70px;
	padding: 11px 10px;
	cursor: pointer;
}

.show-hide span {
	position: relative;
	top: 0;
	display: block;
	margin: 9px 0;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	background-color: #0fbe9d;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.show-hide.active span:nth-child(2) {
	opacity: 0;
}

.show-hide.active span:nth-child(1) {
	top: 13px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.show-hide.active span:nth-child(3) {
	top: -13px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.show-hide:hover span, .show-hide:focus span {
	background-color: #fff;
}

.head-nav {
	position: fixed;
	padding: 0;
	top: 70px;
	left: 0;
	width: 300px;
	height: 100%;
	background-color: #2c3e50;
	-webkit-transform: translate3d(-320px, 0, 0);
	-ms-transform: translate3d(-320px, 0, 0);
	-o-transform: translate3d(-320px, 0, 0);
	transform: translate3d(-320px, 0, 0);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.head-nav.open {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.foot-adrs-one {
	width: 100%;
}

.footer-top {
	position: relative;
	padding-bottom: 120px;
}

.foot-adrs-in.foot-soc {
	position: absolute;
	top: 100%;
	margin-top: -80px;
	padding-left: 0;
	width: 100%;
	left: 0;
}

.foot-right-part {
	position: static;
}

.foot-logo {
	width: 100%;
	margin-bottom: 20px;
}

.foot-slog {
	padding-left: 0;
	width: 100%;
	float: left;
}

.one-foot-bot {
	border: none;
	text-align: center !important;
}

.usl {
	text-align: center;
}

.one-foot-bot > div {
	padding: 10px 0;
}

.footer-bot {
	padding: 10px 0;
}

.head-right {
	position: static;
	float: left;
	height: auto;
	width: 100%;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	padding-bottom: 4px;
}

.head-lang {
	float: right;
}

.header-log {
	float: none;
	padding: 5px 92px 5px 15px;
}

.header-login {
	width: 100%;
}

.header-log a {
	height: auto;
	padding: 8px 0 8px 20px;
}

.header-reg {
	margin-left: 0;
}

nav ul li ul {
	display: none;
	width: 100%;
	margin: 0;
	padding: 0 0 0 10px;
}

.head-menu nav {
	width: 100%;
}

nav > ul {
	width: 100%;
}

nav > ul > li {
	text-align: left;
	width: 100%;
	margin: 0;
}

nav > ul > li a {
	padding: 10px 15px;
	height: auto;
}

.head-menu {
	left: 0;
	width: 100%;
	position: absolute;
	top: 88px;
	bottom: 0;
	overflow-y: auto;
}

nav > ul > li > a:before {
	right: 15px;
}

nav > ul > li.active > a:before {
	margin-top: -1px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.drop-lang {
	z-index: 9;
	text-align: left;
	display: none;
}

.bg-plan {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 99;
	display: none;
}

body.opened {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.one-video-post {
	width: 50%;
}

.video-rev .video-post .one-video-post {
	width: 33.33%;
}

.cont-left {
	width: 55%;
}

.cont-right {
	width: 40%;
}

.one-call-day {
	position: relative;
	width: 100%;
	border-right: none;
	border-bottom: 1px solid #fff;
}

.one-call-day-name {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	width: 50%;
	background-color: #ebecef;
	text-align: left;
	justify-content: flex-start;
}

.one-call-day-date {
	background-color: #ebecef;
	float: right;
	width: 50%;
	padding-right: 60px;
	text-align: right;
	justify-content: flex-end;
}

.one-call-day.has .one-call-day-date, .one-call-day.has .one-call-day-name {
	background-color: #f5f5f5;
}

.one-call-day-event {
	display: none;
	float: left;
	width: 100%;
}

.one-call-day.has:before {
	content: '';
	width: 14px;
	height: 14px;
	position: absolute;
	top: 12px;
	right: 20px;
	border: none;
	border-left: 2px solid #12bf9e;
	border-bottom: 2px solid #12bf9e;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.one-call-day.has.open:before {
	top: 19px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.one-teacher-btns a {
	width: 100%;
	margin-bottom: 10px;
}

.one-teacher-btns a:last-child {
	margin-bottom: 0;
}

.container-right.left {
	width: 620px;
}

}

/* author dmondma 1200px */



@media (max-width: 991px) {

.one-serv {
	padding: 0 10px;
}

.our-serv .row {
	margin: 0 -10px;
}

.one-why-we-descr {
	padding-left: 294px;
}

.news-page .container {
	max-width: 100%;
	padding: 0;
}

.one-news-descr {
	padding: 0 40px 0 127px;
}

.modal-cont-wrap {
	min-height: 400px;
}

.one-plat-thumb {
	width: 300px;
}

.one-plat-descr {
	padding-left: 300px;
}

.one-plat {
	padding: 30px 40px 30px 0;
}

.sidebar {
	width: 100%;
	margin-bottom: 35px;
}

.container-right {
	float: left;
	width: 100%;
	padding-left: 0;
}

.filter-tit {
	position: relative;
	cursor: pointer;
	text-align: left;
}

.filter-tit:after {
	content: '';
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	margin-top: -11px;
	right: 25px;
	border: none;
	border-left: 2px solid #18c0a0;
	border-bottom: 2px solid #18c0a0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.open .filter-tit:after {
	margin-top: -4px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.video-post {
	margin: 0;
	padding: 0 25px;
}

.one-video-post {
	padding: 0 25px;
}

.user-avat span {
	float: left;
	margin-left: 20px;
}

.user-tablet-info {
	display: block;
	padding-left: 290px;
	text-align: left;
	font-weight: bold;
}

.user-tablet-name {
	float: left;
	width: 100%;
	position: relative;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.user-tablet-name:before {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	left: -20px;
	top: 9px;
	background-color: #0fbe9d;
}

.user-tablet-work {}

.account-form {
	margin-top: 0;
}

.about-serv-in {
	margin: 0 -39px;
}

.page-stat > img {
	width: 100%;
	margin-left: 0;
	padding-left: 0;
}

.one-about-serv-thumb {
	width: 260px;
	flex: 0 0 260px;
}

#page {
	padding: 60px 0;
}

.video-rev .video-post .one-video-post {
	width: 50%;
}

.one-comm {
	padding: 30px 30px 15px 35px;
}

.one-comm-info {
	width: 240px;
}

.one-comm-descr {
	padding-left: 240px;
}

.cont-left {
	width: 100%;
	margin-bottom: 50px;
}

.cont-right {
	width: 100%;
}

.filter.filter-cal .one-filter-check {
	width: auto;
	display: inline-block;
	margin-right: 60px;
}

.filter.filter-cal .one-filter-check:last-child {
	margin-right: 0;
}

.one-call-day-date {
	display: none;
}

.one-call-day-name {
	width: 100%;
	padding-right: 60px;
}

.container-right.left {
	width: 100%;
}

.trans-single-nav .teachers-nav {
	width: 100%;
}

.trans-single-nav {
	padding-right: 0;
}

}

/* author dmondma 991px */



@media (max-width: 767px) {

.hero-in {
	min-height: 420px;
	padding-top: 60px;
	padding-bottom: 30px;
}

.hero-tit {
	font-size: 30px;
	margin-bottom: 15px;
}

.header-top {
	height: 60px;
}

.logo {
	margin-top: 10px;
	width: 185px;
}

.show-hide {
	width: 50px;
	height: 60px;
	padding: 10px 10px;
}

.show-hide span {
	margin: 7px 0;
	height: 3px;
}

.show-hide.active span:nth-child(1) {
	top: 10px;
}

.show-hide.active span:nth-child(3) {
	top: -10px;
}

.head-nav {
	top: 60px;
	height: auto;
	bottom: 0;
}

.hero-descr {
	font-size: 20px;
	margin-bottom: 60px;
}

#our-serv, #popular, #partner, #why-we {
	padding: 60px 0;
}

.one-serv-in {
	border: none;
}

.one-serv-thumb {
	flex: 0 0 110px;
	width: 110px;
	padding-right: 34px;
	height: auto;
	float: left;
	margin-bottom: 0;
}

.one-serv-thumb:before {
	width: 76px;
	height: 76px;
	margin: -38px 0 0 0px;
	left: 0;
	bottom: auto;
	top: 50%;
}

.one-serv-thumb:after {
	bottom: auto;
	right: 15px;
	top: 50%;
	left: auto;
	margin-top: -3px;
}

.one-serv-thumb img {
	max-width: 70px;
}

.one-serv-text {
	width: 100%;
}

.one-serv-in {
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.one-serv-text {
	text-align: left;
	font-size: 18px;
}

.one-serv {
	margin-bottom: 15px;
}

.section-tit {
	font-size: 20px;
}

.section-tit:before {
	top: 12px;
}

.popular .slick-slide > div {
	float: left;
	width: 100%;
}

.one-pop-thumb {
	float: left;
	width: 116px;
	flex: 0 0 116px;
}

.one-pop-in {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.one-pop-descr {
	width: 100%;
	height: auto;
	text-align: left;
	padding: 0 15px;
	text-align: left;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
}

.slick-next {
	right: 15px;
}

.slick-prev {
	left: 15px;
}

.one-why-we-thumb {
	width: 100%;
}

.one-why-we-descr {
	padding-left: 0;
	width: 100%;
	float: left;
}

.one-why-we-descr-in {
	padding: 15px 15px 112px;
}

.pager-why-we {
	top: auto;
	bottom: 30px;
	left: 50%;
	margin-left: -133px;
}

#why-we {
	padding-bottom: 40px;
}

.foot-left-part {
	border-right: none;
	border-bottom: 1px solid #0fbe9d;
	margin-bottom: 25px;
}

.foot-slog {
	padding-right: 0;
	padding-bottom: 30px;
}

.foot-adrs {
	padding: 0;
}

.footer-top {
	padding-bottom: 70px;
}

.copy span {
	display: block;
}

.one-foot-bot > div {
	padding: 8px 0;
}

.popular-in, .logos-in {
	margin: 0;
}

.info-form-bt {
	width: 100%;
}

.info-form-bt button {
	width: 100%;
}

.info-form {
	padding-top: 0;
}

#login {
	padding: 60px 0;
}

.login-form {
	padding: 0;
}

.one-news-date {
	margin-left: 0;
	width: 100%;
	padding: 0 30px;
	margin-bottom: 15px;
}

.one-news-descr {
	padding: 0 30px;
}

.one-news-tit:before {
	left: -20px;
}

.one-news-tit {
	padding-bottom: 17px;
}

.one-news {
	margin-bottom: 20px;
}

.hero-tit-page {}

.has-broad .hero-tit-page {
	margin-top: 0;
	min-height: 90px;
	padding-top: 35px;
}

.broad {
	display: none;
}

.hero-tit-page h1 {
	font-size: 20px;
	min-height: inherit;
}

.hero-tit-page h1:before {
	margin-top: -6px;
}

#page {
	padding: 30px 0;
}

.close-modal {
	right: 15px;
	top: 15px;
	width: 30px;
	height: 30px;
}

.close-modal:before, .close-modal:after {
	width: 20px;
	margin-left: -10px;
	height: 2px;
	margin-top: -1px;
}

.modal-cont-wrap {
	min-height: 100vh;
}

.modal-cont-wrap {
	padding-top: 50px;
}

.modal-cont-descr {
	font-size: 20px;
}

.modal-cont-descr:before {
	margin-top: -6px;
}

.partners {
	margin: 0 -15px;
	width: auto;
}

.one-partner-in {
	padding: 20px 25px;
}

.partners .slick-arrow {
	display: none;
}

.one-plat-thumb {
	width: 100%;
	margin-left: -12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
}

.one-plat-thumb-in {
	flex: 0 0 75px;
	height: 75px;
	display: block;
	float: left;
	margin-bottom: 0;
}

.one-plat-thumb-in:before {
	width: 75px;
	height: 75px;
	margin-left: -37px;
}

.one-plat-thumb-in img {
	max-width: 80%;
}

.one-plat-tit {
	float: none;
	width: 100%;
	padding-left: 30px;
	text-align: left;
}

.one-plat {
	padding: 30px 30px 20px;
	margin-bottom: 20px;
}

.one-plat-thumb-in:after {
	top: 50%;
	left: auto;
	margin: -3px 0 0 -3px;
	right: -20px;
}

.one-plat-descr {
	padding-left: 0;
	padding-top: 12px;
	float: left;
	width: 100%;
}

.one-team {
	float: left;
	width: 100%;
	padding: 30px 30px 20px 0;
}

.one-team-thumb {
	width: 100%;
	padding-left: 30px;
}

.one-team-thumb-in {
	margin-bottom: 15px;
}

.one-team-soc {
	margin-bottom: 15px;
}

.one-team-descr {
	padding-left: 30px;
	float: left;
	width: 100%;
}

.one-team-name:before {
	left: -17px;
}

.one-team-work {
	margin-bottom: 15px;
}

.one-team {
	margin-bottom: 20px;
}

.one-team-thumb-in span {
	width: 180px;
	height: 180px;
}

.one-video-post {
	width: 100%;
	padding: 0;
}

.filter {
	float: none;
	width: auto;
	margin: 0 -15px;
}

.filter-tit:after {
	right: 15px;
}

.one-group-filter {
	padding: 15px 15px 5px;
}

.video-post {
	padding: 0;
}

.filter-descr {
	display: none;
}

.side-user-info .user-avat {
	width: auto;
	float: none;
	margin: 0 -15px;
	padding-top: 20px;
}

.user-avat span {
	float: none;
	margin-left: 0;
	margin-bottom: 15px;
	width: 180px;
	height: 180px;
}

.user-tablet-info {
	padding: 0 15px;
	text-align: center;
}

.user-tablet-name {
	float: none;
	width: auto;
	display: inline-block;
}

.side-user-info {
	margin-bottom: 20px;
}

.account-form {}

.user-acc-menu {
	margin: 0 -15px;
}

.user-acc-menu ul li a {
	padding: 15px 30px;
}

.account-form-inp-tit {
	display: block;
	height: auto;
	width: 100%;
	padding-left: 15px;
}

.account-form-tit {
	padding-left: 15px;
}

.account-form-input-wrap {
	padding-left: 0;
	float: left;
	width: 100%;
}

.other-inp-thumb span {
	width: 75px;
	height: 75px;
}

.other-inp-thumb span img {
	max-width: 60px;
}

.other-inp-tit {
	padding: 10px 20px 10px 110px;
	font-size: 18px;
}

.account-form {
	margin: 0 -15px;
	float: none;
	width: auto;
}

.account-form-input {
	padding-left: 30px;
}

.lk-def-form {
	margin: 0 -15px;
}

.lk-def-form .info-form {
	padding: 0 15px;
}

.add-message-inp-name {
	height: auto;
	width: 100%;
	margin-bottom: 5px;
}

.add-message-input {
	padding-left: 0;
	float: left;
	width: 100%;
}

.one-step-tit {
	padding-left: 40px;
}

.one-step-tit:before {
	left: 20px;
}

.one-form-inp.half {
	width: 100%;
}

.hero-inside {
	padding-top: 60px;
}

.hero-inside.login-top {
	padding-top: 60px;
}

.login-top .hero-tit-page {
	margin-top: 0;
    min-height: 90px;
    padding-top: 35px;
}

.about-serv-in {
	margin: 0 -15px;
}

.one-about-serv {
	display: block;
	padding: 0;
	background-color: #ebecef;
}

.one-about-serv-thumb {
	width: 100%;
	background-color: #f5f5f7;
	padding: 20px 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	-ms-align-items: center;
	align-items: center;
	position: relative;
}

.one-about-serv-thumb:after {
	content: '';
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 10px;
	border: none;
	border-left: 2px solid #0fbe9d;
	border-bottom: 2px solid #0fbe9d;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.open .one-about-serv-thumb:after {
	margin-top: -5px;
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.one-about-serv-thumb span {
	float: left;
	width: 110px;
	flex: 0 0 110px;
}

.one-about-serv-thumb span img {
	max-width: 70%;
}

.one-about-serv-thumb span:before {
	width: 76px;
	height: 76px;
	margin-left: -38px;
}

.one-about-serv-text {
	padding-top: 0;
	text-align: left;
	padding-left: 20px;
	font-size: 18px;
	padding-right: 30px;
}

.one-about-serv-thumb span:after {
	left: auto;
	bottom: auto;
	right: -5px;
	top: 50%;
	margin-top: -3px;
}

.one-about-serv-descr {
	display: none;
}

.one-about-serv-descr ul {
	float: left;
	width: 100%;
	padding: 15px;
}

.one-about-serv {
	margin-bottom: 15px;
}

.page-stat-tit {
	margin-bottom: 25px;
}

.video-rev .video-post .one-video-post {
	width: 100%;
}

.one-comm-info {
	width: 100%;
	margin-bottom: 20px;
}

.one-comm-info span {
	margin-bottom: 5px;
}

.one-comm-descr {
	padding-left: 0;
	width: 100%;
}

.one-comm {
	margin-bottom: 20px;
}

.leave-comm-bt button {
	width: 100%;
}

.captcha {
	margin-bottom: 30px;
}

.cont-left {
	margin-bottom: 30px;
}

.map {
	height: 300px;
}

.one-faq-tit {
	padding: 0 35px;
}

.one-faq-tit span:before {
	left: -20px;
}

.one-faq-descr {
	padding: 25px 35px;
}

.one-faq {
	margin-bottom: 20px;
}

.filter.filter-cal .one-filter-check {
	margin-right: 40px;
}

.one-teacher {
	width: 100%;
}

.one-teacher-descr {
	padding-left: 130px;
}

.one-teacher-thumb {
	width: 130px;
}

.one-teacher-thumb span {
	width: 92px;
	height: 92px;
}

.teachers-nav li {
	width: 100%;
}

.video-cont .one-news .one-news-descr {
	padding: 0 30px;
}

.one-page-teacher-thumb {
	width: 100%;
	text-align: center;
}

.one-page-teacher-deascr {
	padding-left: 0;
}

.one-page-teacher-thumb span {
	width: 150px;
	height: 150px;
}

.one-page-teacher {
	padding: 25px;
}

.one-page-teacher-bt a {
	width: 100%;
}

#modalWrite .info-form-bt button {
	margin-left: 0;
	width: 100%;
}

.one-serv-subs {
	width: 100%;
	padding: 0;
}

.trans-single-nav .teachers-nav li {
	width: 100%;
}

}

/* author dmondma 767px */